.wrapper {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #e5e9f2;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #e5e9f2;
}

.header-title {
}

.tools {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.add-photos-btn {
  font-size: 1.5rem;
  height: 36px;
  font-weight: 500;
  color: #1e74fd;
  padding: 8px 12px;
  border-radius: 10px;
  &:hover {
    background-color: #e4e4e4;
  }
}

.body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}

.photo-item {
  width: 30%;
  margin: 8px;
  cursor: pointer;
  border: 1px solid #e5e9f2;
  &:hover {
    opacity: 0.9;
  }
}
