.wrapper {
  position: relative;
  border-radius: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  cursor: pointer;
}

.contact-info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contact-avatar {
  margin-right: 16px;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.contact-name {
  font-weight: 600;
  font-size: 1.3rem;
  color: #212529;
}

.mutual-friends {
  color: #adb5bd;
  font-weight: 500;
  font-size: 1.2rem;
}

.online-dot {
  height: 10px;
  width: 10px;
  background: linear-gradient(135deg, #05f, #09f);
  border-radius: 50%;
}

.unread {
  color: rgb(73, 80, 87);
  font-weight: 500;
}

.offline-time {
  font-weight: 500;
  font-size: 1.2rem;
}

.description {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 400;
  color: #adb5bd;
  font-size: 1.2rem;
}

.description-text {
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.time-stamp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 8px;
}

.middle-dot {
  display: block;
  width: 4px;
  height: 4px;
  background-color: #adb5bd;
  border-radius: 50%;
  margin-right: 5px;
}

.large {
  padding: 4px 6px;
  .contact-avatar {
    height: 54px;
    width: 54px;
    margin-right: 16px;
    border-radius: 50%;
  }

  .contact-name {
    font-weight: 600;
    font-size: 1.5rem;
    color: #212529;
  }

  .description {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 400;
    color: #adb5bd;
    font-size: 1.3rem;
  }
}

.options-container {
  position: absolute;
  top: calc(50% - 17px);
  right: 14px;
}

.open-options-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  z-index: 0;
  &:hover {
    background-color: #f5f5f5;
  }
}

.options-content {
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 99;
}

.option-item {
  margin-bottom: 4px;
  min-width: 260px;
  max-width: 360px;
  &:hover {
    background-color: #e4e6e9;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.option-item-medium {
  min-width: 200px;
  max-width: 260px;
  padding: 8px;
}

.option-item-red {
  &:hover {
    background-color: #f02849;
    color: #fff;
  }
}

.unread {
  .contact-avatar {
    padding: 2px !important;
    border: 3.2px solid #05f !important;
  }
}

.avatar-border {
  .contact-avatar {
    padding: 2px;
    border: 3.2px solid #ced0d4;
  }
}
