.wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  right: 0;
  top: 0;
  position: absolute;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 4px;
  overflow-y: auto;
  max-height: 95vh;
  width: 510px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  border-bottom: 1px solid #e5e9f2;
  p {
    font-size: 1.7rem;
    font-weight: 500;
  }
  button {
    color: #adb5bd;
    &:hover {
      color: #495057;
    }
  }
}

.body {
  padding: 16px;
  overflow: auto;
  max-height: 500px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 12px;
  border-top: 1px solid #e5e9f2;
}

.cancel-btn {
  margin-right: 8px;
  color: #adb5bd;
}

.body::-webkit-scrollbar {
  display: none;
}

.body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

.body::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
