.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 300px;
  background-color: #ccc;
  border: #333;
  padding: 12px;
}

// ============================= MESSAGE LIST ============================

.message-list {
  height: 100%;
  margin: 8px;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  width: 300px;
}

.message-list::-webkit-scrollbar {
  display: none;
}

.message-list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

.message-list::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

// =========================== CHAT CONTAINER ==============================

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 8px;
}

.chat-box::-webkit-scrollbar {
  display: none;
}

.chat-box::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

.chat-box::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.chat-box {
  flex: 1;
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  overflow-y: auto;
}

.chat-bar {
  margin: 8px 0;
  padding: 20px 12px;
  outline: none;
  border: none;
  font-size: 17px;
  border-radius: 8px;
  height: 36px;
}

// ======================= REGISTER FORM ============================

.register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  height: fit-content;
  background-color: #ccc;
  border-radius: 8px;
}

.header-form {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 8px;
}

.inp-form {
  display: flex;
  flex-direction: column;

  input {
    padding: 12px;
    width: 300px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    border: none;
  }
}

.connect-btn {
  font-size: 20px;
  border: none;
  outline: none;
  background-color: greenyellow;
  padding: 8px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 8px;
  border-radius: 8px;
  &:hover {
    background-color: white;
  }
}
