.members-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 12px;
}
.member-item {
  width: 100%;
  position: relative;
  border: 1px solid #e5e9f2;
  margin-bottom: 16px;
  padding: 2px;
}

.members-icon {
  color: #1e74fd;
}
