.wrapper {
  width: 100%;
  height: 100%;
}

.media-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: auto;
}

.media-content::-webkit-scrollbar {
  display: none;
}

.media-content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

.media-content::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.media-item {
  margin: 8px;
  border-radius: 10px;
  border: 1px solid #e5e9f2;
  display: block;
  max-height: 200px;
  width: 30%;
  cursor: pointer;
}

.media-item-container {
  position: relative;
}

.remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: #ccc;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
