.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 526px;
}

.container {
  display: flex;
  width: 100%;
  overflow-x: auto;
  border-radius: 10px;
  padding: 8px;
  border: 1px solid #e5e9f2;
  background-color: #fff;
}

.container > * {
  margin-right: 8px;
}

.story-creation-modal {
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(245, 245, 245, 0.4);
}

.container::-webkit-scrollbar {
  display: none;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

.container::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.story-item {
  animation: fade-in 0.3s ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
