.wrapper {
  padding: 12px 0;
  width: 100%;
  height: calc(100vh - 80px);
  overflow: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 90%;
}

.header-title {
  padding: 20px;
}

.setting-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 20px;
  width: 100%;
}

.option-item {
  width: 100% !important;
  padding: 16px !important;
  margin-bottom: 12px;
  transition: all 0.3s ease;
  &:hover {
    background-color: rgba(0, 0, 0, 0.01);
    cursor: pointer;
  }
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.wrapper::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

.wrapper::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
