.doc-item {
  cursor: pointer;
  margin-bottom: 8px;
  width: 96% !important;
  &:hover {
    background-color: #f0f2f5;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.doc-content {
  padding: 8px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.doc-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #eee;
  color: #9ba2a9;
  font-size: 1.3rem;
  width: 36px;
  height: 36px;
}

.doc-info {
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 8px;
}

.doc-name {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-word;
  text-overflow: ellipsis;
  color: #8094ae;
  font-size: 1.4rem;
  height: 18px;
  width: 90%;
  text-align: left;
}

.doc-size {
  color: #adb5bd;
  font-size: 1.2rem !important;
  margin-top: 4px;
}
