.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 480px;
  background-color: #fff;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.bg-image {
  width: 360px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://images.pexels.com/photos/16806729/pexels-photo-16806729/free-photo-of-a-single-white-cloud-against-blue-sky.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.log-in-content {
  width: 460px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  padding: 48px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.header-title {
}

.log-in-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.user-name-area {
  margin-bottom: 16px;
  width: 100%;
}

.input-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-lable {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.message-invalid {
  margin-top: 4px;
  font-size: 1.1rem;
  color: #ff337c;
  font-weight: 500;
}

.error-field {
  transition: all 0.4s ease !important;
  border: 2px solid #ff337c !important;
}

.log-in-input {
  width: 100%;
  padding: 6px 12px;
  height: 48px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 4px;
  font-size: 1.4rem;
  color: var(--text-color);
  &::placeholder {
    color: #d9d9d9;
  }
  transition: all 0.4s ease;
  &:focus {
    border: 2px solid #665dfe;
  }
}

.password-area {
  margin-bottom: 16px;
  width: 100%;
}

.submit-btn {
  width: 100%;
  height: 48px;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 4px;
  margin-bottom: 16px;
  background-color: #1e74fd;
  transition: all 0.3s ease;
  &:hover {
    background-color: #05f;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.remember-acc {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
  cursor: pointer;
  user-select: none;
}

.check-box-icon {
  transition: all 100s ease;
}

.remeber-acc-title {
  margin-left: 4px;
  font-size: 1.46rem;
  color: gray;
}

.forgot-password-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.forgot-password {
  text-align: right;
  width: 50%;
  margin-bottom: 16px;
  font-size: 1.46rem;
  color: gray;
  transition: all 0.3 ease;
  &:hover {
    color: rgb(99, 99, 99);
  }
}

.signup-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.signup-title {
  font-size: 1.46rem;
  color: gray;
}

.sign-up-btn {
  margin-left: 4px;
  font-size: 1.56rem;
  font-weight: 500;
  color: #1e74fd;
  &:hover {
    color: #05f;
  }
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.3rem;
  padding: 8px;
  border-radius: 4px;
  margin-top: 16px;
  transition: all 0.3s ease !important;
}

.error-message {
  color: red;
  border: 1px solid #ff337c;
  background-color: rgb(255, 0, 0, 0.1);
}

.successful-message {
  color: green;
  border: 1px solid rgb(26, 192, 26);
  background-color: rgb(0, 128, 0, 0.1);
}
