.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 20px;
  border: 1px solid #e5e9f2;
  border-radius: 4px;
  &:hover {
    background: #f8f9fa;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.title {
  font-weight: 400;
  font-size: 1.4rem;
}

.primary {
  color: #fff;
  background-color: #665dfe;
  border-color: #665dfe;
  &:hover {
    background-color: #4237fe;
    border-color: #362afe;
  }
}

.noOuline {
  border-color: transparent;
}
