.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 420px;
  max-height: 420px;
  background-color: #fff;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
  padding-bottom: 12px;
  position: relative;

  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 16px 12px 16px;
  .header-title {
    font-size: 1.9rem;
    color: #1e74fd;
    font-weight: 600;
  }
  .options-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: var(--text-color);
    border: 1px solid #e5e9f2;
    &:hover {
      box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }
  }
}

.options-content {
  position: absolute;
  right: 10px;
  top: 60px;
  z-index: 110;
}

.option-item {
  margin-bottom: 4px;
  min-width: 260px;
  max-width: 360px;
  &:hover {
    background-color: #e4e6e9;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.body {
  max-height: 420px;
  overflow-y: auto;
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.noti-item {
  width: 400px;
  border-color: transparent !important;
  margin-bottom: 12px;
  border-radius: 10px !important;

  &:last-child {
    margin-bottom: 0;
  }

  cursor: pointer;
}

.body::-webkit-scrollbar {
  display: none;
}

.body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

.body::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.footer {
  width: 100%;
}

.empty-noti {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
}

.empty-noti-title {
  font-size: 2rem;
  font-weight: 500;
}
