.wrapper {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.check-icon {
  left: 0;
}

.check-box-icon {
  height: 2.6rem;
  width: 2.6rem;
}

.input-title {
  font-size: 1.3rem;
  user-select: none;
  margin-left: 4px;
}
