.wrapper {
  padding: 12px 0;
  width: 100%;
  height: calc(100vh - 80px);
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -10px;
  padding: 0 20px 20px;
}

.header-title {
  padding: 20px;
}

.friend-item {
  margin-left: 18px;
  margin-bottom: 18px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.wrapper::-webkit-scrollbar {
  width: 8px;
}

.wrapper::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

.wrapper::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
