.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.stories-container {
  height: 100%;
  width: 26%;
  background-color: #fff;
  padding: 8px;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78%;
}

.container {
  position: relative;
  height: 670px;
  width: 380px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  &:hover {
    background-color: #ebebeb;
  }
}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-image: linear-gradient(rgba(0, 0, 0, 0.01) -90%, rgba(0, 0, 0, 0.9) 100%);
}

.video-content {
  width: 100%;
  border-radius: 10px;
}

.img-content {
  width: 100%;
  border-radius: 10px;
}

.progress-bars {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  z-index: 10;
}

.time-progress {
}

.story-operations {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 14px;
  z-index: 10;
}

.pause-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  top: 24px;
  right: 100px;
  color: #fff;
}

.resume-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  top: 24px;
  right: 100px;
  color: #fff;
}

.mute-toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  top: 24px;
  right: 60px;
  color: #fff;
}

.story-options {
  position: relative;
}

.story-options-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  top: 24px;
  right: 20px;
  color: #fff;
}

.menu-options {
  position: absolute;
  right: 0;
}

.delete-story-option {
  &:hover {
    background-color: #f02849;
    color: #fff;
  }
}

.story-option {
  margin-bottom: 4px;
  min-width: 260px;
  max-width: 360px;
}

.author-info {
  top: 16px;
  width: 100%;
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 16px;
}

.author-avatar {
  margin-right: 8px;
}

.author-name {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 500;
}

.timestamp {
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.earth-icon {
  margin-right: 2px;
}

.prev-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
  width: 56px;
  height: 56px;
  background-color: #d2d2d2;
  border-radius: 50%;
  &:hover {
    background-color: #fff;
  }
}

.next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
  width: 56px;
  height: 56px;
  background-color: #d2d2d2;
  border-radius: 50%;
  &:hover {
    background-color: #fff;
  }
}

.background-image {
  width: 100%;
  max-height: 100%;
  position: absolute;
  border-radius: 10px;
  z-index: 1;
  padding: 0 14px;
}

.audio-content {
  position: absolute;
  z-index: 10;
  height: 0;
  width: 0;
}
