.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  font-size: 1.4rem;
  min-width: 158px;
  min-height: 37px;
  padding: 9px 18px;
  color: rgba(73, 80, 87, 0.8);
  cursor: pointer;
  &:hover {
    color: #3d4349;
    text-decoration: none;
    background-color: #f8f9fa;
  }
  p {
    margin-left: 8px;
    width: 100%;
  }
}
