.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-btn {
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    margin: 8px;
    border: 1px solid #ccc;
    background-color: #087aea;
    color: #ccc;
    cursor: pointer;
}

.register-btn {
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    margin: 8px;
    border: 1px solid #ccc;
    background-color: #087aea;
    color: #ccc;
    cursor: pointer;
}
