.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background: #fff;
}

.side-bar {
  width: 28%;
}

.content {
  flex: 1;
  padding: 24px;
  height: 90vh;
  overflow-y: auto;
}

.account-item {
  margin-bottom: 12px;
}

.account-item:last-child {
  margin-bottom: 0px;
}

.contact-container::-webkit-scrollbar {
  display: none;
}

.contact-container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

.contact-container::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.content::-webkit-scrollbar {
  // display: none;
  width: 4px;
}

.content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

.content::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
