.wrapper {
  width: 100%;
  height: 100%;
  padding-bottom: 16px;
  border-left: 1px solid #e5e9f2;
  background-color: #fff;
}

.container {
  height: 80vh;
  margin-top: 10px;
  overflow-y: auto;
  mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, transparent 17px, black 17px);
  mask-size: 103% 20000px;
  mask-position: left bottom;
  padding: 0 12px;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
  -webkit-mask-position: left bottom;
  &:hover {
    -webkit-mask-position: left top;
  }
}

.container::-webkit-scrollbar {
  width: 4px;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

.container::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.header {
  padding: 24px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e9f2;

  .header-title {
    font-size: 1.5rem;
    color: #adb5bd;
    font-weight: 600;
    font-size: 1.3rem;
  }

  .see-all-btn {
    color: #1e74fd;
    font-size: 1.3rem;
    font-weight: 600;
  }
}

.contact-item {
  // border: 1px solid #e5e9f2;
  margin-bottom: 12px;
  padding: 2px 4px;
  &:hover {
    background-color: #e4e6e9;
  }
}
