.wrapper {
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  user-select: none;
  cursor: pointer;
  border: 1px solid #e5e9f2;
  border-radius: 10px;
  height: 62px;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #adb5bd;
  }

  h6 {
    font-size: 1.4rem;
    font-weight: 500;
  }
}

.content {
  visibility: visible;
  transition: all 0.3s ease;
}
