.wrapper {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
}

.header {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e9f2;

  .header-title {
    color: #212529;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .see-all-btn {
    color: #1e74fd;
    font-size: 1.3rem;
    font-weight: 600;
  }
}
