.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.profile-container {
  width: 28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-right: 1px solid #e5e9f2;
}

.header {
  width: 100%;
  border-bottom: 1px solid #e5e9f2;
  margin-bottom: 24px;
  h5 {
    font-size: 1.7rem;
    margin-bottom: 12px;
    font-weight: 600;
  }
  p {
    color: #adb5bd;
    font-size: 1.4rem;
  }
  padding: 12px;
}

.profile-content {
  height: 1159px;
  overflow-x: auto;
}

.settings-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}

.setting-content {
  width: 100%;
  padding: 0 24px;
  height: 1159px;
  overflow-x: auto;
}

.setting-group-item {
  margin-bottom: 24px;
}

.form-item {
  width: 50%;
  padding: 0 15px;
  margin-bottom: 16px;
}

.form-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: wrap;
}

.group-info {
  margin-bottom: 24px;
}

.group-item:last-child {
  border-bottom-color: transparent;
}

// WEB_KIT

.profile-content::-webkit-scrollbar {
  display: none;
}

.profile-content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

.profile-content::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.setting-content::-webkit-scrollbar {
  display: none;
}

.setting-content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

.setting-content::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
