.wrapper {
  width: 100%;
}

.input-item {
  input {
    border-radius: 10px;
    &::placeholder {
      color: rgb(101, 103, 107, 0.8);
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.privacy {
  position: relative;
}

.menu-privacies {
  position: absolute;
  top: 44px;
}

.privacy-item {
  width: 160px;
  transition: all 0.1s ease;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.operations {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 180px;
}

.privacy-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  width: 160px;
  height: 40px;
  background-color: #e4e6e9;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 10px;
  transition: all 0.3s ease;
  &:hover {
    background-color: #dddddd;
  }
}

.privacy-title {
  font-size: 1.4rem;
  margin-left: 4px;
  margin-right: 8px;
}

.submit-btn {
  height: 36px;
  width: 54%;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 10px;
  background-color: #1e74fd;
  transition: all 0.3s ease;
  &:hover {
    background-color: #05f;
  }
}

.cancel-btn {
  width: 40%;
  height: 36px;
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: 10px;
  background-color: #e4e6e9;
  transition: all 0.3s ease;
  &:hover {
    background-color: #dddddd;
  }
}
