.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  &:hover .option-list {
    display: block;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 440px;
  position: relative;
}

.message-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-avatar {
  position: absolute;
  bottom: 2px;
  left: 0;
  z-index: 10;
}

.message-content {
  position: relative;
  padding: 7px;
  background-color: #f5f5f5;
  color: var(--text-color);
  border-radius: 8px;
  text-align: left;
  display: inline-block;
  p {
    font-size: 1.4rem;
  }
}

.message-option {
  display: inline-flex;
  align-items: center;
  color: #adb5bd;
  text-size-adjust: 100%;
}

.sent-tick-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
}

.loading-spiner {
  margin-left: 8px;
}

.remove-message-btn {
  color: #ff337c;
  &:hover {
    color: #e60052;
  }
}

.drop-down-btn {
  display: flex;
  cursor: pointer;
  background-color: transparent;
}

.seen-tag {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 4px;
}

.seen-user-img {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.notify-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 1.3rem;
    color: #adb5bd;
  }
}

// ----------------------------------------------------

.text-content {
  display: flex;
  font-size: 18px;
  padding: 8px;
  border-radius: 12px;
  width: fit-content;
  word-break: break-word;
  text-align: left;
}

.image-content {
  border-radius: 16px;
  height: 200px;
  cursor: pointer;
}

.video-content {
  max-width: 320px;
  max-height: 240px;
  border-radius: 8px;
  cursor: pointer;
}

.media-item {
  z-index: 11;
  cursor: pointer;
}

.doc-item {
  z-index: 11;
  cursor: pointer;
}

.sent-tick-icon {
  width: 14px;
  height: 14px;
}

.option-menu {
  position: absolute;
}

.other {
  align-items: flex-start;

  .message-content {
    margin-left: 46px;
  }

  .container {
    align-items: flex-start;
  }

  .author-avatar {
    margin-top: -16px;
    margin-left: 4px;
  }

  .sent-tick-icon {
    margin-right: 8px;
  }

  .seen-tag {
    img {
      margin-right: 4px;
    }
  }
}

.you {
  align-items: flex-end;
  .message-option {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .message-content {
    margin-right: 14px;
  }

  .container {
    align-items: flex-end;
  }

  .author-avatar {
    margin-top: -16px;
    margin-right: 4px;
  }

  .sent-tick-icon {
    margin-left: 8px;
  }

  .seen-tag {
    img {
      margin-left: 4px;
    }
  }
}

.my-message {
  flex-direction: row-reverse;
}

// ====================================

.removed-message {
  font-style: italic;
  padding: 8px;
  border: solid 1px #ccc;
  border-radius: 8px;
}

.small.wrapper {
  .container {
    max-width: 220px;
  }
  .message-content {
    padding: 6px 8px;
    background-color: #f5f5f5;
    border-radius: 8px;
    text-align: left;
    display: inline-block;
    p {
      font-size: 1.36rem;
    }
  }

  .message-date {
    display: none;
  }

  .author-avatar {
    img {
      display: block;
      width: 34px;
      height: 34px;
      border-radius: 50%;
    }
  }

  .image-content {
    border-radius: 16px;
    max-height: 100px;
    max-width: 220px;
    cursor: pointer;
  }

  .seen-tag {
  }

  .seen-user-img {
    width: 14px;
    height: 14px;
  }
}

.last-message {
  margin-bottom: 12px;
}

.you.last-message {
  .message-content {
    &::after {
      content: '';
      position: absolute;
      transition: opacity 0.2s;
      background-color: #f5f5f5;
      width: 25px;
      height: 18px;
      right: -18px;
      bottom: 0px;
      z-index: 0;
    }

    &::before {
      content: '';
      position: absolute;
      transition: opacity 0.2s;
      background-color: #fff;
      width: 18px;
      height: 18px;
      right: -18px;
      bottom: 0px;
      z-index: 1;
      border-bottom-left-radius: 999px;
    }
  }
}

.other.last-message {
  .message-content {
    &::after {
      content: '';
      position: absolute;
      transition: opacity 0.2s;
      background-color: #f5f5f5;
      width: 25px;
      height: 18px;
      left: -18px;
      bottom: 0px;
      z-index: 0;
    }

    &::before {
      content: '';
      position: absolute;
      transition: opacity 0.2s;
      background-color: #fff;
      width: 18px;
      height: 18px;
      left: -18px;
      bottom: 0px;
      z-index: 1;
      border-bottom-right-radius: 999px;
    }
  }
}

.you {
  .drop-down-container {
    position: absolute;
    z-index: 40;
    top: 50%;
    left: -20px;
    transform: translate(-50%, -50%);
  }

  .options-content {
    position: absolute;
    bottom: 30px;
    right: 0;
    z-index: 99;
  }

  .option-item {
    margin-bottom: 4px;
    min-width: 120px;
    max-width: 140px;
    z-index: 99;
    font-size: 1.2rem;

    &:hover {
      background-color: #e4e6e9;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .options-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    /*
    move the (positioned) element up and left 
    by half its own width/height
  */
    transform: translate(-50%, -50%);
  }

  .menu-options {
    position: absolute;
    bottom: 20px;
    right: -48px;
  }
}

.other {
  .drop-down-container {
    position: absolute;
    z-index: 40;
    top: 50%;
    right: -30px;
    // transform: translate(-50%, -50%);
  }

  .options-content {
    position: absolute;
    bottom: 30px;
    right: 0;
    z-index: 99;
  }

  .option-item {
    margin-bottom: 4px;
    min-width: 120px;
    max-width: 140px;
    z-index: 99;
    font-size: 1.2rem;

    &:hover {
      background-color: #e4e6e9;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .options-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    /*
    move the (positioned) element up and left 
    by half its own width/height
  */
    transform: translate(-50%, -50%);
  }

  .menu-options {
    position: absolute;
    bottom: 20px;
    right: -48px;
  }
}

.option-item-large {
  min-width: 200px !important;
}
