.container {
  border-left: 1px solid #e5e9f2;
}

.header {
  border-bottom: 1px solid #e5e9f2;
  height: 78px;
}

.content {
  overflow-y: auto;
  height: 76vh;
}

.group-info-item {
  margin: 16px;
}

.members-icon {
  color: #1e74fd;
}

.user-info-group-container {
  width: 100%;
  padding-bottom: 24px;
}

.user-info-item {
  list-style: none;
  &:not(:first-child):not(:last-child) {
    padding: 12px 28px;
  }
  &:last-child {
    padding: 12px 28px 0;
  }

  &:first-child {
    padding: 0 28px 12px;
  }
}

.user-info-item-title {
  color: #adb5bd;
  font-size: 1.2rem;
}

.user-info-item-content {
  font-size: 1.4rem;
}

// MEMBER-ITEM

.member-item {
  border-left: 0px;
  padding: 12px 28px;
}

.member-item:last-child {
  border-bottom: 0px;
}

.member-item:first-child {
  border-top: 0px;
}

.member-item-drop-down {
  margin-right: 8px;
}

// MEDIA-ITEM

.media-group-container {
  width: 363px;
  overflow-x: auto;
  padding: 0 10px 10px;
  display: flex;
  align-items: center;
  list-style: none;
}

.photo-icon {
  color: #45bd62;
}

.media-item {
  padding: 0 5px;
  img {
    width: 91px;
    height: 91px;
    border: 1px solid #e5e9f2;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
  }
  video {
    width: 91px;
    height: 91px;
    border: 1px solid #e5e9f2;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
  }
}

// DOCUMENT-ITEM

.document-container {
  padding: 8px 16px;
  height: 500px;
  overflow-y: auto;
}

.document-item {
  margin-bottom: 12px;
}

// WEB_KIT

.document-container::-webkit-scrollbar {
  display: none;
}

.document-container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

.document-container::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.content::-webkit-scrollbar {
  display: none;
}

.content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

.content::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.media-group-container::-webkit-scrollbar {
  border-radius: 0;
  height: 8px;
}

.media-group-container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

.media-group-container::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
