.wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.sub-info {
  flex: 1;
}

.sub-info-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  padding: 16px 22px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #e5e9f2;
}

.sub-info-item-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
}

.see-all-photos-btn {
  color: #1e74fd;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  &:hover {
    background-color: #f5f5f5;
  }
}

.sub-info-item-header-title {
  font-size: 1.8rem;
}

.sub-info-item-content {
  font-size: 1.4rem;
  color: #adb5bd;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.last-photo {
  img {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}

.rest-photo-quantity {
  position: absolute;
  font-size: 2.4rem;
  color: #495057;
  font-weight: 500;
  cursor: pointer;
  &:hover ~ img {
    opacity: 1;
  }
}

.photos-container {
  margin: -8px;
  margin-top: 10px;
}

.friends-container {
  margin: 4px -12px;
}

.friend-item {
  transition: all 0.3s ease;
  color: var(--text-color);
  &:hover {
    opacity: 0.94;
  }
}

.post-container {
  margin-left: 20px;
}

.post-generator-label {
  margin-bottom: 20px;
}

.photo-item {
  margin: 8px;
  cursor: pointer;
}

.post-list {
}
