@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.select-theme {
  margin-top: 20px;
}

.select-theme p {
  margin: 0 0 5px 0;
  padding: 0;
}

.radio-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #303030;
  font-size: 14px;
  font-weight: 400;
  margin-right: 7px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.radio-input {
  display: none;
  margin: 0;
}

.radio-input:checked + span {
  border: 2px solid #05f;
}

.radio-input:checked + span:after {
  opacity: 1;
}

.custom-radio {
  cursor: pointer;
  width: 21px;
  height: 21px;
  border: 2px solid #9a9a9a;
  border-radius: 50%;
  position: relative;
}

/* for inner filled circle */
.custom-radio::after {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #05f;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.content {
  flex: 1;
  margin-left: 10px;
  h5 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 6px;
  }
  p {
    font-size: 1.4rem;
    opacity: 0.8;
  }
}
