.wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.container {
  background-color: white;
  border-radius: 8px;
  padding: 14px 18px;
  overflow-y: auto;
  width: 650px;
}

.header {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 8px;
}

.info-room-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 16px 0;
}

.room-name-input {
  input {
    border: 1px solid #e5e9f2;
    border-radius: 10px;
    width: 100%;
    height: 48px;
    padding: 8px 14px;
    outline: none;
    font-weight: 400;
    font-size: 1.6rem;
    background-color: #fff;
  }
}

.upload-avatar-inp {
  display: none;
}

.room-avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  width: 70px;
  height: 70px;
  border: 1px solid #ccc;
  border-radius: 50%;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.camera-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color: rgb(235, 232, 232);
  }
}

.room-avatar {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  object-fit: contain;
  &:hover {
    background-color: rgb(235, 232, 232);
  }
}

.group-name-inp {
  flex: 1;
  padding: 14px;
  border: 1px solid #e5e9f2;
  outline: none;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 10px;
}

.search-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 8px 0;
  label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  input {
    width: 100%;
    padding: 14px;
    border: 1px solid #e5e9f2;
    outline: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 10px;
    &::placeholder {
      font-weight: 400;
    }
  }
}

.search-result {
  padding: 16px;
  overflow-y: auto;
  height: 340px;
  border: 1px solid #e5e9f2;
  border-radius: 10px;
}

.contact-item-wrapper {
  position: relative;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}

.account-item {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #e5e9f2;
}

.contact-tick-box {
  cursor: pointer;
  position: absolute;
  padding: 0;
  z-index: 20;
  top: 16px;
  right: 16px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 16px;

  .submit-btn {
    min-width: 140px;
    height: 36px;
    background-color: #1e74fd;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 8px;
    &:hover {
      background-color: #05f;
    }
  }
  .cancel-btn {
    min-width: 140px;
    height: 36px;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 8px;
    margin-right: 12px;
    background-color: #e4e6e9;
    &:hover {
      background-color: #dddddd;
    }
  }
}

.search-result::-webkit-scrollbar {
  width: 6px;
}

.search-result::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 0.15);
}

.search-result::-webkit-scrollbar-track {
  margin: 10px 0;
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 0);
}

.container::-webkit-scrollbar {
  width: 16px;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

.container::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
