.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 24px;
  position: relative;
  background-color: #f0f2f5;
  overflow-y: auto;
}

.container {
  border-radius: 10px;
  background-color: #fff;
  padding: 16px 16px 0;
  border: 1px solid #e5e9f2;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 0 4px;
}

.author-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-avatar {
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}

.author-name {
  color: #212529;
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.time-stamp {
  color: #adb5bd;
  font-size: 1.2rem;
  font-weight: 500;
}

.operations {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: #f5f5f5;
  border-radius: 50%;
  cursor: pointer;
}

.operation-icon {
  color: #212529;
}

.open-options-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #f5f5f5;
  color: var(--text-color);
  border: 1px solid #e5e9f2;
  &:hover {
    box-shadow:
      rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
}

.menu-options {
  position: absolute;
  top: 0;
  right: 40px;
  z-index: 100;
}

.post-option {
  margin-bottom: 4px;
  min-width: 260px;
  max-width: 360px;
  &:last-child {
    margin: 0;
  }

  &:hover {
    background-color: #e4e6e9;
  }
}

.delete-post-option {
  &:hover {
    background-color: #f02849;
    color: #fff;
  }
}

.body {
}

.post-content {
  p {
    color: #404448;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0 4px;
    width: 100%;
    font-weight: 700;
    text-overflow: ellipsis;
    font-weight: 400;
    white-space: break-spaces;
    word-wrap: break-word;
  }

  .adjust-content-length-btn {
    margin-left: 8px;
    color: #1e74fd;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }

  margin-bottom: 16px;
}

.media-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 670px;
}

.post-image {
  max-width: 100%;
  width: 33.33333%;
  padding: 4px;
  border-radius: 8px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 8px;
}

.interactions-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px 0;
}

.reactions-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.reactions-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  margin-right: 8px;
}

.emoji-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.comments-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reaction-quantity {
  color: #65676b;
  font-weight: 400;
  font-size: 1.4rem;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.comment-icon {
  font-size: 2rem;
  margin-right: 8px;
  color: #343a40;
  & > * {
    color: #343a40;
  }
}

.comment-quantity {
  color: #343a40;
  font-weight: 500;
  font-size: 1.3rem;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.interactions {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 6px 0;
  border-top: 1px solid #e5e9f2;
}

.interaction-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 8px 0;
  border-radius: 8px;
  height: 36px;
  transition: all 0.3s ease;
  p {
    margin-left: 8px;
    color: #343a40;
    font-weight: 500;
    font-size: 1.3rem;
  }
  margin: 0 8px;

  .interaction-icon {
    font-size: 2rem;
    margin-right: 8px;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.comment-active {
  background-color: rgba(0, 0, 0, 0.05);
}

.reaction-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
}

.inter {
  background-color: red;
}

.like-active {
  & > * {
    color: rgb(8, 102, 255) !important;
  }
}

.love-active {
  & > * {
    color: rgb(243, 62, 88) !important;
  }
}

.haha-active {
  & > * {
    color: rgb(247, 177, 37) !important;
  }
}

.surprise-active {
  & > * {
    color: rgb(247, 177, 37) !important;
  }
}

.wow-active {
  & > * {
    color: rgb(247, 177, 37) !important;
  }
}

.sad-active {
  & > * {
    color: rgb(247, 177, 37) !important;
  }
}

.angry-active {
  & > * {
    color: rgb(233, 113, 15) !important;
  }
}

.comment-container {
  padding: 0 12px 8px;
}

.tippy-requirement {
  display: flex;
  flex: 1;
}

.post-creation-modal {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  right: 0;
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-creation-container {
  width: 600px;
}

.back-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #404448;
  border-radius: 50%;
  top: 20px;
  left: 20px;
}

.left-arrow-icon {
  color: #fff;
}
