.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  background-color: #f7f6f9;
}

.side-bar {
  width: 26%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: calc(100vh - 80px);
  position: fixed;
}

.side-bar-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 22px 16px;
}

.header-title {
  font-size: 2.1rem;
  margin-bottom: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e9f2;
  border-radius: 10px;
  width: 100%;
  background-color: #f7f6f9;
}

.search-inp {
  padding: 8px 16px;
  border: none;
  outline: none;
  height: 48px;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color);
  flex: 1;
  background-color: #f7f6f9;
}

.search-icon {
  padding: 12px;
  color: #999b9f;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
  &:hover {
    background-color: #f0f2f5;
  }
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 8px 8px;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: #f0f2f5;
  }
}

.nav-item-icon {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4e6eb;
  border-radius: 50%;
  color: var(--text-color);
}

.nav-item-active {
  .nav-item-icon {
    color: #fff;
    background-color: #1e74fd;
  }
  background-color: #f0f2f5;
  .ellipsis-icon {
    color: #fff;
  }

  .nav-item-title {
    color: #1e74fd;
  }
}

.nav-item-title {
  font-size: 1.6rem;
  margin-left: 12px;
  font-weight: 500;
}

.content {
  width: 74%;
  height: calc(100vh - 80px);
  margin-left: 26%;
}
