.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #e5e9f2;
  background-color: #fff;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-title {
  font-size: 1.6rem;
  font-weight: 500;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-setting-item-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
