.wrapper {
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: #fff;
  width: 340px;
  border-radius: 8px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;

  .profile_avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .menu-item {
    margin-bottom: 4px;
    min-width: 240px;
    max-width: 300px;
    &:hover {
      background-color: #e4e6e9;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .contact-info {
    flex: 1;
    margin-left: 12px;
  }

  .contact-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
    }

    .contact-name {
      width: 100%;
      color: #1e74fd;
      font-size: 1.2rem;
      font-weight: 600;
    }

    .contact-status {
      p {
        color: #adb5bd;
        font-size: 1rem;
      }

      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .online-dot {
      width: 8px;
      height: 8px;
      margin-right: 6px;
      background-color: #10d876;
      border-radius: 50%;
    }
  }

  .close-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    &:hover {
      background-color: #f5f5f5;
    }
  }
  border-bottom: 1px solid #e5e9f2;
}

.body {
  height: 300px;
  overflow: auto;
  padding: 10px;
}

.body::-webkit-scrollbar {
  display: none;
}

.body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

.body::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.get-more-message-container {
  width: 100%;
  height: 34px;
  margin-bottom: 20px;
}

.get-more-messages-btn {
  display: none;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 34px;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 20px;
  // -webkit-mask-image: linear-gradient(0deg, #000 60%, transparent);
  background-color: #665dfe;
  float: right;
  border: 1px solid #e5e9f2;

  &:hover {
    background-color: #4237fe;
    border: 1px solid #362afe;
  }
  animation-name: example;
  animation-duration: 0.5s;
}

.get-message-icon {
  color: #fff;
}

.slide-in {
  .get-more-messages-btn {
    display: flex;
  }
}

// ANIMATION

@keyframes example {
  from {
    transform: translateX(150%);
    opacity: 0;
  }
  to {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
}

.message-item {
  margin-bottom: 6px;

  &:nth-last-child(2) {
    margin-bottom: 0 !important;
  }
}

.last-message {
  margin-bottom: 18px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  border-top: 1px solid #f1f1f1;
  padding: 8px 12px;
}

.edit-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show-options-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e74fd;
  margin-left: 4px;
}

.type-area {
  background-color: #f5f5f5;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 999px;
  height: 46px;

  textarea {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 999px;
    padding: 6px 12px;
    border: none;
    outline: none;
    resize: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 176px;
    background-color: #f5f5f5;
  }
  padding: 8px;

  .operations {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .emoji-picker {
    font-size: 1.7rem;
    color: #1e74fd;
    padding: 8px;
    cursor: pointer;
    border-radius: 999px;
  }

  .send-btn {
    font-size: 1.7rem;
    color: #1e74fd;
    padding: 8px;
    cursor: pointer;
    border-radius: 999px;
  }
}

.modal-wrapper {
  width: 100vw;
  height: 100vh;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.media-view-modal {
  position: absolute;
}
