:root {
  --primary: #fe2c55;
  --black: #000;
  --text-color: #495057;
  --white: #fff;

  //fonts

  //   --font-family: 'ProximaNova', 'sans-serif';

  // Default layout

  --default-layout-header-height: 60px;
  --default-layout-header-width: 1150px;
}

html {
  font-size: 62.5%;
}

* {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', 'sans-serif';
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: var(--text-color);
}

button {
  font-family: inherit;
  color: #495057;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  font-family: Inter;
}

// Fonts emmbeded

@font-face {
  font-family: Inter;
  src: url('/assets/fonts/inter-regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url('/assets/fonts/inter-semibold.woff2');
  font-weight: 600;
}

@font-face {
  font-family: Inter;
  src: url('/assets/fonts/inter-medium.woff2');
  font-weight: 500;
}

@font-face {
  font-family: Inter;
  src: url('/assets/fonts/inter-bold.woff2');
  font-weight: 700;
}
